.over{
  overflow-x: hidden;
}
[type="radio"].with-gap:checked + label:before {
border-radius: 50%;
border: 2px solid #8bc34a; }

[type="radio"].with-gap:checked + label:after {
border-radius: 50%;
border: 2px solid #8bc34a;
background-color: #8bc34a;
z-index: 0;
-webkit-transform: scale(.5);
-moz-transform: scale(.5);
-ms-transform: scale(.5);
-o-transform: scale(.5);
transform: scale(.5); }
